
#divEstructura{
	width:95%;
        margin:0 auto;
	clear:both;
        //display:none;
}

#divA, #divE{
    	border:1px solid #AAAAAA;   
        border-top: 0;
        height:100px;
	margin:10px;
	clear:both;
}

#divB, #divD{
        width:28%;
        height:120px;
    	border:1px solid #AAAAAA;   
	margin:20px;
	float:left;        
}

#divC{
        width:28%;
        height:120px;
    	border:1px solid #AAAAAA;   
	margin:20px;
        float:left;
}

.botonAceptar{
        padding:10px 20px;
}